<!doctype html>
<html>
    <head>
        <title>Séances</title>
        <% include ../layout %>
    </head>
    <body>
        <% include ../Menu %>

        <div class="container">
            <span class="pull-left"><h1 class="pull-left">Séances :</h1></span>
            <%if(matieres.length!=0 && enseignants.length!=0) { %>
                <span class="pull-right"><a href="/<%= chemin %>create"><h1><img class="iconsAction" src="/files/IconeAjouter.png"></h1></a></span>
            <% } %>
        </div>
        <div class="container" id="MainMenu">
            <div class="list-group panel">
                <% if(enseignants.length==0) { %>
                <div class="list-group-item">
                    <div class="container">
                        <div class="col-md-12">
                            <div>Attention il n'y a plus d'enseignants enregistrés. Veuillez Créer des Enseignants pour créer des séances</div>
                        </div>
                    </div>
                </div>
                <% } %>
                <% if (matieres.length !=0) { %>
                    <% for(var i=0; i<=matieres.length-1; i++) {%>
                        <a href="#matiere<%=matieres[i].nomM %>" class="list-group-item " data-toggle="collapse" data-parent="#MainMenu"><strong><%= matieres[i].nomM %></strong></a>
                            <div class="collapse" id="matiere<%=matieres[i].nomM %>">
                                <% if(seances.length !=0) {
                                     var x = 0;
                                     for(var j=0; j<=seances.length-1; j++) {
                                        if(seances[j].matiereS == matieres[i].idM) {
                                            x=1; %>
                                            <div class="list-group-item">
                                                <div class="container">
                                                    <div class="col-md-9">
                                                        <div><strong><%=(seances[j].nomS.toUpperCase())%>&nbsp;&nbsp;<%=(seances[j].dateS)%></strong>&nbsp;&nbsp;&nbsp;<small>(<%=(seances[j].heureDebut)%>&nbsp;&nbsp;<%=(seances[j].heureFin)%>&nbsp;&nbsp;<%= ((seances[j].valideS)!=0)? "Validé" : "Non Validé" %>)</small>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=(seances[j].commentaire)%></div>
                                                    </div>
                                                    <% if(moment(new Date()).format("YYYY-MM-DD") == seances[j].dateS && moment(new Date()).format("HH:mm") <= seances[j].heureFin
                                                            || moment(new Date()).format("YYYY-MM-DD") < seances[j].dateS) { %>
                                                        <div class="col-md-2">
                                                            <span class="pull-right"><a href="/<%= chemin %>" onclick="deleteItem('<%= seances[j].idS %>', '<%= chemin %>')"><img class="iconsAction" src="/files/IconePoubelle.png"></a></span>
                                                            <span class="pull-right"><a href="/<%= chemin %><%= seances[j].idS %>"><img class="iconsAction" src="/files/IconeEdit.png"></a></span>
                                                        </div>
                                                    <% } %>
                                                </div>
                                            </div>
                                        <% }
                                     }
                                     if(x==0) {
                                         x=1; %>
                                         <div class="list-group-item">
                                             <div class="container">
                                                <div class="col-md-12">
                                                    <div>Il n'y a pas de séance pour cette matière.</div>
                                                </div>
                                                </div>
                                         </div>
                                    <% } %>
                                <% } else { %>
                                    <div class="list-group-item">
                                        <div class="container">
                                            <div class="col-md-9">
                                                <div>Il n'y a pas de Séances pour cette matière.</div>
                                            </div>
                                        </div>
                                    </div>
                                <% } %>
                            </div>
                        <% } %>
                    <% } else { %>
                        <div class="list-group-item">
                            <div class="container">
                                <div class="col-md-9">
                                    <div>Veuillez créer des Matières avant de créer des Séances. Merci.</div>
                                </div>
                            </div>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>
    </body>
</html>