<!doctype html>
<html>
    <head>
        <title>Promotions</title>
        <% include layout %>
    </head>
    <body>

        <div class="container" >
            <span class="pull-right"><a href="/<%= chemin %>create"><img class="iconsAction" src="/files/create.PNG"></a></span>
        </div>
        <div class="container">
            <% for(var i=0; i<=promos.length-1; i++) {%>
                <div class="row container">
                    <div class="col-md-9">
                        <div><%= promos[i].idP %> - <%= promos[i].nomP %></div>
                    </div>
                    <div class="col-md-2">
                        <span class="pull-right"><a href="/<%= chemin %>" onclick="deleteItems('<%= promos[i].idP %>', '<%= chemin %>')"><img class="iconsAction" src="/files/delete.PNG"></a></span>
                        <span class="pull-right"><a href="/<%= chemin %><%= promos[i].idP %>"><img class="iconsAction" src="/files/modify.PNG"></a></span>
                    </div>
                </div>
            <% } %>
        </div>

    </body>
</html>
