<!doctype html>
<html>
    </head>
        <title>Valider présence</title>
        <% include layout %>
        <script>
            function executeQuery() {
                $.ajax({
                    url: 'http://localhost:8080/<%= chemin %>',
                    type: 'get',
                    success: function(data) { $('#refresh').html(data); }
                });
            }
            $('#refresh').ready(function() {
                setTimeout(executeQuery, 1000 * 60);
            });
        </script>
    </head>
    <body id="refresh">
        <div id="titre" class="container">
            <h2 class="pull-left">Séance à valider : </h2>
        </div>

        <div class="container" >
            <% if (seance.length == 0){ %>
            <div class="container list-group-item">
                    Il n'y pas de séance à valider.
                </div>
            <% } else { %>
                <div class="col-md-5">
                    <div id="promoSeance" class="container">
                        <h4 class="pull-left"><%= seance[0].nomP %>&nbsp;&nbsp;<%= seance[0].nomM %></h4>
                    </div>
                    <div id="seanceAttr" class="container">
                        <h4 class="pull-left"><%= seance[0].dateS %>&nbsp;&nbsp;<%= seance[0].heureDebut %>&nbsp;&nbsp;<%= seance[0].heureFin %></h4>
                    </div>
                    <div class="col-md-2">
                        <div id="qrcodeCanvas"></div>
                    </div>
                </div>
                <script>
                    $('#qrcodeCanvas').qrcode({
                        text	: "qrcode.guillaumeperes.fr/<%= chemin %><%= seance[0].idS %>"
                    });
                </script>
                <div>
                    <div id="liste" class="col-md-6">
                        <h2>Liste étudiants : </h2>
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Nom </th>
                                <th>Prenom </th>
                                <th>Présent </th>
                            </tr>
                            </thead>
                            <tbody>
                                <% for(var i=0; i < etudiants.length ; i++) { %>
                                    <tr>
                                        <td><%= etudiants[i].nomU %></td>
                                        <td><%= etudiants[i].prenomU %></td>
                                        <td>
                                            <% if(badge[i] != 0) { %>
                                                <span id="SignOK" class="glyphicon glyphicon-ok"></span>
                                            <% } else { %>
                                                <span id="SignKO" class="glyphicon glyphicon-ok"></span>
                                            <% } %>
                                        </td>
                                    </tr>
                                <% } %>
                            </tbody>
                        </table>
                        <% if(seance[0].valideS ==0) { %>
                            <form id="form">
                                <div class="form-group">
                                    <label>Commentaire</label>
                                    <textarea class="form-control" name="commentaire"><%=(seance[0].commentaire)%></textarea>
                                </div>
                                <div class="pull-right">
                                    <a href="/<%= chemin %>" class="btn btn-success btn-lg" style="margin-bottom:10px;" onclick="modifyItem('<%= seance[0].idS %>', '<%= chemin %>')">Valider séance</a>
                                </div>
                            </form>
                        <% } %>
                    </div>
                </div>
            <% } %>
        </div>
    </body>
</html>