<!doctype html>
<html>
    <head>
        <title>Utilisateurs</title>
        <% include ../layout %>
    </head>
    <body>
        <% include ../Menu %>

        <div class="container">
            <span class="pull-left"><h1>Utilisateurs :</h1></span>
            <span class="pull-right"><a href="/<%= chemin %>create"><h1><img class="iconsAction" src="/files/IconeAjouter.png"></h1></a></span>
        </div>
        <div class="container" id="MainMenu">
            <div class="list-group panel">
                <a href="#etudiant" class="list-group-item " data-toggle="collapse" data-parent="#MainMenu"><strong>Etudiants</strong></a>
                <div class="collapse" id="etudiant">
                    <% for(var i=0; i<=etudiants.length-1; i++) {%>
                        <div class="list-group-item">
                            <div class="container">
                                <div class="col-md-9">
                                    <div><strong><%=(etudiants[i].nomU.toUpperCase())%>&nbsp;&nbsp;&nbsp;<%=(etudiants[i].prenomU)%></strong>&nbsp;&nbsp;&nbsp;&nbsp;(<small><%=(etudiants[i].nomP)%>)</small></div>
                                </div>
                                <div class="col-md-2">
                                    <span class="pull-right"><a href="/<%= chemin %>" onclick="deleteItem('<%= etudiants[i].id %>', '<%= chemin %>')"><img class="iconsAction" src="/files/IconePoubelle.png"></a></span>
                                    <span class="pull-right"><a href="/<%= chemin %><%= etudiants[i].id %>"><img class="iconsAction" src="/files/IconeEdit.png"></a></span>
                                </div>
                            </div>
                        </div>
                    <% } %>
                    <% if (etudiants.length == 0) {%>
                        <div class="list-group-item">
                            <div class="container">
                                <div class="col-md-9">
                                    <div>Il n'y a pas encore d'étudiant.</div>
                                </div>
                            </div>
                        </div>
                    <% } %>
                </div>
                <a href="#enseignant" class="list-group-item" data-toggle="collapse" data-parent="#MainMenu"><strong>Enseignants</strong></a>
                <div class="collapse" id="enseignant">
                    <% for(var i=0; i<=enseignants.length-1; i++) {%>
                        <div class="list-group-item">
                            <div class="container">
                                <div class="col-md-9">
                                    <div><strong><%=(enseignants[i].nomU.toUpperCase())%>&nbsp;&nbsp;&nbsp;<%=(enseignants[i].prenomU)%></strong></div>
                                </div>
                                <div class="col-md-2">
                                    <span class="pull-right"><a href="/<%= chemin %>" onclick="confirmBeforeDelete('<%= enseignants[i].id %>', '<%= chemin %>')"><img class="iconsAction" src="/files/IconePoubelle.png"></a></span>
                                    <span class="pull-right"><a href="/<%= chemin %><%= enseignants[i].id %>"><img class="iconsAction" src="/files/IconeEdit.png"></a></span>
                                </div>
                            </div>
                        </div>
                    <% } %>
                    <% if (enseignants.length == 0) {%>
                        <div class="list-group-item">
                            <div class="container">
                                <div class="col-md-9">
                                    <div>Il n'y a pas encore d'enseignant.</div>
                                </div>
                            </div>
                        </div>
                    <% } %>
                </div>
                <a href="#administration" class="list-group-item" data-toggle="collapse" data-parent="#MainMenu"><strong>Administration</strong></a>
                <div class="collapse" id="administration">
                    <% for(var i=0; i<=administration.length-1; i++) {%>
                        <div class="list-group-item">
                            <div class="container">
                                <div class="col-md-9">
                                    <div><strong><%=(administration[i].nomU.toUpperCase())%>&nbsp;&nbsp;&nbsp;<%=(administration[i].prenomU)%></strong></small></div>
                                </div>
                                <div class="col-md-2">
                                    <% if(session!=administration[i].id && nbAdmin>1) { %>
                                        <span class="pull-right"><a href="/<%= chemin %>" onclick="confirmBeforeDeleteAdmin('<%= administration[i].id %>', '<%= chemin %>')"><img class="iconsAction" src="/files/IconePoubelle.png"></a></span>
                                    <% } else { %>
                                        <span class="pull-right"><img class="iconsAction" src="/files/IconeGrise.png" disabled></span>
                                    <% } %>
                                    <span class="pull-right"><a href="/<%= chemin %><%= administration[i].id %>"><img class="iconsAction" src="/files/IconeEdit.png"></a></span>
                                </div>
                            </div>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>
    </body>
</html>