<!doctype html>
<html>
    <head>
        <title>Promotions</title>
        <% include ../layout %>
    </head>
    <body>

        <div class="container" >
            <span class="pull-left"><h1 class="pull-left">Promotions :</h1></span>
            <span class="pull-right"><a href="/<%= chemin %>create"><h1><img class="iconsAction" src="/files/create.PNG"></h1></a></span>
        </div>

        <div class="container">
            <% for(var i=0; i<=promos.length-1; i++) {%>
                <div class="container list-group-item">
                    <div class="col-md-9 ">
                        <div><strong><%= promos[i].nomP %></strong></div>
                    </div>
                    <div class="col-md-2">
                        <span class="pull-right"><a href="/<%= chemin %>" onclick="confirmBeforeDelete('<%= promos[i].idP %>', '<%= chemin %>')"><img class="iconsAction" src="/files/delete.PNG"></a></span>
                        <span class="pull-right"><a href="/<%= chemin %><%= promos[i].idP %>"><img class="iconsAction" src="/files/modify.PNG"></a></span>
                    </div>
                </div>
            <% } %>
            <% if (promos.length == 0) {%>
                <div class="container list-group-item">
                    <div class="col-md-9 ">
                        <p>Il n'y a pas encore de promotion.</p>
                    </div>
                </div>
            <% } %>
        </div>
    </body>
</html>
