<!doctype html>
<html>
<head>
    <title>Détail Promotion</title>
    <% include ../layout %>
</head>
<body>
<% include ../menu %>

<div class="container" >
    <div class="col-sm-6 col-sm-offset-3">
        <h1><span class="fa fa-sign-in"></span>Modifier une promotion</h1>

        <form id="form">
            <div class="form-group">
                <label>Nom de la promotion</label>
                <input type="text" class="form-control" name="nom" value="<%= promo[0].nomP %>" />
            </div>
            <div class="pull-right">
                <a href="/<%= chemin %>" class="btn btn-secondary btn-lg">Annuler</a>
                <a href="/<%= chemin %>" class="btn btn-primary btn-lg" onclick="modifyItem('<%= promo[0].idP %>', '<%= chemin %>')">Appliquer</a>
            </div>
        </form>
    </div>
</div>
</body>
</html>
